@model TMS_PFA.ViewModels.DeliveryFormViewModel

@{
    ViewData["Title"] = "Créer un bon de livraison";
}

<h1>Créer un bon de livraison</h1>

<h4>Veuillez entrer les informations ci-dessous:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label"></label>
                <input asp-for="ReceiptDate" class="form-control" type="date" value="2000-01-01" min="2000-01-01" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAddress" class="control-label"></label>
                <input asp-for="DestinationAddress" class="form-control" />
                <span asp-validation-for="DestinationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeliveryId" class="control-label"></label>
                <input asp-for="DeliveryId" class="form-control" readonly/>
                <span asp-validation-for="DeliveryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
